<div class="container">
  <h2 class="header">Assignment-1</h2>
  <div class="section-1">
     <h3 class="sub-header">Section-1</h3>
     <button class="showDetails" (click)="onclick()">Display Details</button>
     <strong> Display button click {{count}} times </strong> 
     <p class="para-section" *ngIf="isClicked">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, culpa quod accusamus dolorum quasi distinctio obcaecati adipisci odit corporis facere 
      nostrum assumenda! Nisi harum tenetur aspernatur sint rep
      rehenderit possimus cupiditate?
      
    </p>
  </div>
  <div class="section-2">
    <h3 class="sub-header"> Section-2</h3>
    <div class="mb-3">
      <label for="text" class="inputLabel">Enter Sometext</label>
      <input type="text" class="userInput" #txt  placeholder="Enter some text...">
      <button class="showDetails" (click)="OnSubmit(txt.value)">Add</button>
        <div class="show" *ngFor="let text of texts; index as index">
          <p [ngClass]="{'blueBg': (index+1)%5===0}">
            {{index+1}}-{{text}}
          </p>
        </div>
    </div>
  </div>
</div>
